.for-review-enter {
  max-height: 0px;
  -webkit-transition: max-height .5s ease;
  overflow: hidden;
}

.for-review-enter.for-review-enter-active {
  height: auto;
  max-height: 155px;
}

.for-review-leave {
  max-height: 155px;
  -webkit-transition: max-height .5s ease-out;
}

.for-review-leave.for-review-leave-active {
  overflow: hidden;
  max-height: 0px;
}