.shopping-list-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

@media screen and (max-width:1000px) {
    .shopping-list-container {
        flex-direction: column;

        .for-review-column,
        .list-column,
        .recipe-column {
            width: 100%;
        }
    }
}


.sl-category-box {
	font-family: 'Quicksand', sans-serif;
	display: flex;
	text-align: left;
	justify-content: flex-start;
	background-color: $bb-grey;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	padding: 0.75rem;
	.sl-category-image {
		margin-right: 1rem;
	}
	.sl-category-title {

	}
	.sl-category-toggle {
		margin-left: auto;
		margin-right: 10px;
		cursor: pointer;
	}
}

.ingredient {
	font-family: 'Quicksand', sans-serif;
	background-color: $bb-pure-white;
	text-align: left;
	text-indent: 25px;
	padding: 2px;
	text-transform: capitalize;
	border-bottom: 1px dotted #ccc;
	&:last-child {
		border-bottom: 0;
	}
    &:hover {
      background-color: $bb-grey-light;
      -webkit-transition: all 0.2s;
      -moz-transition:    all 0.2s;
      -ms-transition:     all 0.2s;
      -o-transition:      all 0.2s;
    }
    .unit {
    	text-transform: lowercase;
    }
}

.ingredient-enter {
  max-height: 0px;
  -webkit-transition: max-height .5s ease;
  overflow: hidden;
}

.ingredient-enter.ingredient-enter-active {
  height: auto;
  max-height: 60px;
}

.ingredient-leave {
  max-height: 60px;
  -webkit-transition: max-height .5s ease-out;
}

.ingredient-leave.ingredient-leave-active {
  overflow: hidden;
  max-height: 0px;
}
.for-review-column,
.list-column {
	width: 38%;
}
.for-review-column,
.list-column,
.recipe-column {
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.list-column,
.recipe-column {
    flex-grow: 1;
}

.recipe-column {
    width: 24%;
	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.for-review-enter {
  max-height: 0px;
  -webkit-transition: max-height .5s ease;
  overflow: hidden;
}

.for-review-enter.for-review-enter-active {
  height: auto;
  max-height: 155px;
}

.for-review-leave {
  max-height: 155px;
  -webkit-transition: max-height .5s ease-out;
}

.for-review-leave.for-review-leave-active {
  overflow: hidden;
  max-height: 0px;
}

.for-review-box {
	width: 100%;
	position: relative;
	height: auto;
	font-family: 'Quicksand', sans-serif;

	.ingredient-mapping-container {
		padding-top: 10px;
		padding-bottom: 7px;
		border-radius: 0 0 $radius $radius;
		border: 1px solid rgba(10, 10, 10, 0.1);

	}
}

.for-review-title {
	padding: 5px;
	background-color: $bb-grey-lightest;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	border-radius: $radius-large;
}

.ingredient-mapping-container {
	display: flex;
	align-items: center;

	.base-ingredient,
	.ingredient-mapping {
		width: 100%;
	}
}