$color-white: #ffffff;

$color-silver-dark: #828282;
$color-silver: #a5a5a5;
$color-silver-light: #f8f8f8;

$color-red-dark: #d45161;
$color-red: #f27d72;
$color-red-light: #ffafaf;
$color-red-light-2: #ffc5c5;

$color-green-default: #16967a;
$color-green: #89d78f;
$color-green-light: #b3ffd8;

$color-blue: #35A1FB;

$bb-blue: #3ca2e0;
$bb-primary:         #3ca2e0; // darken(#428bca, 6.5%); // #337ab7
$bb-success:         #5cb85c;
$bb-info:            #5bc0de;
$bb-warning:         #f0ad4e;
$bb-danger:          #d9534f;

$bb-white: #F7F2EB;
$bb-yellow: #FFC53D;
$bb-green: #86A17F;
$bb-salmon: #C37A65;
$bb-blue: #124357;
$bb-black: #171717;