.refresh-button {
	display: inline-block;
	margin: 5px;
}

.btn-outline {

	background: none;
	//border-width:  2px;
	border: solid $bb-primary 2px;
	font-weight: 400;

	&:hover {
		background: none;
		border-color: transparent;
	}

	&.btn-white {
		box-shadow: 0 0 0 2px rgba(255,255,255, 0.8) inset;
		color: rgba(255,255,255, 0.8);

		&:hover {
			box-shadow: 0 0 0 2px rgba(255,255,255, 1) inset;
			color: rgba(255,255,255, 1);
		}

	}

	&.btn-primary {

		&:hover {
			box-shadow: 0 0 0 2px $bb-blue inset;
			color: $bb-white;
		}

	}

	&.btn-success {

		&:hover {
			box-shadow: 0 0 0 2px $bb-success inset;
			color: $bb-white;
		}

	}

	&.btn-info {

		box-shadow: 0 0 0 2px darken($bb-info, 10%) inset;
		color: darken($bb-info, 10%);

		&:hover {
			box-shadow: 0 0 0 2px $bb-info inset;
			color: $bb-info;
		}

	}

	&.btn-warning {

		box-shadow: 0 0 0 2px darken($bb-warning, 10%) inset;
		color: darken($bb-warning, 10%);

		&:hover {
			box-shadow: 0 0 0 2px $bb-warning inset;
			color: $bb-warning;
		}

	}

	&.btn-danger {

		box-shadow: 0 0 0 2px darken($bb-danger, 10%) inset;
		color: darken($bb-danger, 10%);

		&:hover {
			box-shadow: 0 0 0 2px $bb-danger inset;
			color: $bb-danger;
		}

	}

}

.btn-rounded {
	border-radius: 50px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	border-radius: 8px;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}