.loading-spinner {
	margin-top: 100px;
}

.page-title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	h1 {
		margin-left: 25px;
	}

	.btn-group {
		display: flex;
		margin-top: 20px;
		margin-left: auto;
		margin-right: 25px;
	}
}